.post {
	h1,
	h2,
	h3,
	h4 {
		font-family: @fontSerif;
		font-weight: 600;
		margin: 0;
	}
	h1 {
		font-size: @fontSize * 2.5;
		margin-bottom: @unit;
	}
	h2 {
		font-size: @fontSize * 2;
		margin-bottom: @unit/2;
	}
	h3 {
		font-size: @fontSize * 1.5;
		margin-bottom: @unit/3;
	}
	h4 {
		font-size: @fontSize;
		margin-bottom: @unit/4;
	}
	.title {
		margin-left: @asideWidth + @unit;
	}
}

.social {
	margin: @unit 0;
	p {
		margin: 0;
	}
}

.posts {
	list-style-type: none;
	margin: ( @unit * 2 ) 0;
	padding: 0;
	li {
		position: relative;
		padding-left: @asideWidth + @unit;
		span {
			position: absolute;
			left: 0;
			width: @asideWidth;
			color: @textFaded;
		}
	}
}
