@bg: #F6F6F6;
@text: #111;

@siteWidth: 800px;
@logoSize: 150px;
@unit: 20px;
@fontSize: 16px;

@fontSansSerif: "adelle-sans", Helvetica, Arial, sans-serif;
@fontSerif: "adelle", Georgia, serif;
@fontScript: "learning-curve", Georgia, serif;

@headerBg: #00AB72;
@headerText: #EEE;

@navBg: #333;
@navText: #EEE;
@navSelected: #FF3652;

@logoBg: #222;
@logoText: #EEE;

// @oneBg: #FCFBEC;
@workBg: #DDD;
@workText: #333;

@servicesBg: #333;
@servicesText: #DDD;

@quoteBg: #A01F62;
@quoteText: #EEE;

@postBg: @bg;
@postText: #222;
